.scroll-to-top{
    position: fixed;
    z-index: 6;
    width: 100%;
}

.fa-1x {
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
    transition: all 0.3s ease-out;
    float: right;
}
