.container {
    height: 100vh;
}

.resume {
    position: absolute;
    left: 5%;
    top: 15%;
    right: 70%;
    bottom: 15%;
    margin: 48px;
    border: 4px solid #ffffff;
    box-shadow: 0 0 192px 0 rgb(110, 13, 139);
}

.content {
    position: absolute;
    left: 35%;
    top: 15%;
    right: 5%;
    bottom: 15%;
    margin: 48px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 192px 0 #1f1ccd;
}

.experience,
.skills,
.projets,
.contact {
    font-size: 4em;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: none;
}

.experience:hover,
.skills:hover,
.projets:hover,
.contact:hover {
    color: #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    cursor: pointer;
}

.presentation {
    color: #fff;
    text-align: center;
}

.presentation-word {
    font-size: 1.2em;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px, 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: none;
}

.presentation-img {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;
    border: 2px solid #ffffff;
    right: 15%;
    box-shadow: 0 0 20px 0 #1f1ccd;
}


.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    z-index: 1;
    width: 59.5%;
    height: 39%;
    margin-top: 0;
    border: 2px solid #ffffff;
    border-right: transparent;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    z-index: 1;
    width: 40%;
    height: 58.9%;
    border: 2px solid #ffffff;
    margin-top: 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: auto;
    right: auto;
    bottom: 0px;
    z-index: 1;
    align-items: center;
    border: 2px solid #ffffff;
    margin-bottom: 0;
    width: 40%;
    height: 60%;
}

.projets {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: auto;
    top: auto;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 59.5%;
    height: 40%;
    margin-bottom: 0;
    border: 2px solid #ffffff;
    border-left: transparent;
}

.about {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 35%;
    width: 20%;
    height: 28%;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-decoration: none;
}