.contact {
    position: fixed;
    z-index: 6;
    top: 2%;
    width: 20%;
    height: 100px;
}

.contact-container{
   width: 150px;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    width: 40px;
    border: 2px solid #fff;
}

.contact-git,
.contact-linkdin,
.contact-envelope,
.contact-phone {
    margin: 5px;
    color: #fff ;
}

.contact-envelope:hover,
.contact-phone:hover,
.contact-git:hover,
.contact-linkdin:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
}

.fa-2x {
    color: #fff;
}

.contact-number{
    visibility: hidden;
    position: absolute;
    left: 63px;
    top:30px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: underline;
    text-underline-position: under;
}

.contact-email{
    visibility: hidden;
    position: absolute;
    left: 63px;
    bottom:25px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: underline;
    text-underline-position: under;
}

.contact-phone:hover ~ .contact-number,
.contact-envelope:hover ~ .contact-email {
    visibility: visible;
}


