.contact {
    position: fixed;
    top: 2%;
    width: 100%;
    height: 100px;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    font-size: 1em;
    border: 1px solid #ffffff;
    width: 2%;
}

.contact-git,
.contact-linkdin,
.contact-email,
.contact-phone {
    margin: 5px;
    color: #fff ;
}

.contact-email:hover,
.contact-phone:hover,
.contact-git:hover,
.contact-linkdin:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    cursor: pointer;
}

.fa-2x {
    color: white;
}