.footer {
    position: absolute;
    z-index: 6;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer-title {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (max-width: 1485px) {
    .footer {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 6;
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .footer-title {
        font-size: 11px;
    }
}
